@charset "UTF8";

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

iframe {
    display: block;
    margin: 20px auto;
}

a {
    display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

