@charset "UTF8";

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: auto;
}
