@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.astro {
  position: absolute;
  width: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
